## Airports
Data Source: https://data.world/datagov-uk/2ecd2a35-fc85-4cd9-b1e7-3a8f92d76fd7

In [1]:
import pandas as pd
import os
import json
import requests
from pprint import pprint

In [42]:
file = os.path.join('airports_all_2015.csv')
airports_df = pd.read_csv(file)
airports_df.head()

,Rank,Airport,Location,Country,Code (IATA/ICAO),Total passengers,% change
0,1,Hartsfield-Jackson Atlanta International Airport,Atlanta GA,USA,ATL,"101,491,106",5.5
1,2,Beijing Capital International Airport,Beijing,China (People's Republic of China),PEK,"89,938,628",4.4
2,3,Dubai International Airport,Dubai,United Arab Emirates,DXB,"78,014,841",10.7
3,4,O'Hare International Airport,Chicago IL,USA,ORD,"76,949,504",9.8
4,5,Tokyo International (Haneda) Airport,Tokyo,Japan,HND,"75,573,106",3.8

In [43]:
def lat_long(iata):

    url = "https://cometari-airportsfinder-v1.p.rapidapi.com/api/airports/by-code"

    querystring = {"code": f"{iata}"}

    headers = {
        'x-rapidapi-host': "cometari-airportsfinder-v1.p.rapidapi.com",
        'x-rapidapi-key': "8cc177b195msh4e4f4ff4e0cae0fp10ed89jsn60e0207e5c4d"
        }

    response = requests.get(url, headers=headers, params=querystring).json()

    latitude = response[0]['location']['latitude']
    longitude = response[0]['location']['longitude']

    return latitude, longitude

In [44]:
# Find Latitude and Longitude of each airport
lat_list = []
long_list = []

for i in range(len(airports_df)):
    iata = airports_df['Code (IATA/ICAO)'][i]
    latitude, longitude = lat_long(iata)
    lat_list.append(latitude)
    long_list.append(longitude)

ATL
PEK
DXB
ORD
HND
LHR
LAX
HKG
CDG
DFW
IST
FRA
PVG
AMS
JFK
SIN
CAN
CGK
DEN
BKK
SFO
ICN
KUL
MAD
DEL
LAS
CLT
MIA
PHX
IAH
SEA
CTU
YYZ
MUC
BOM
FCO
LGW
SYD
SZX
BCN
GRU
SHA
MCO
TPE
MEX
KMG
EWR
NRT
MNL
MSP

In [45]:
# Add lat, long to dataframe
airports_df['Lat'] = lat_list
airports_df['Long'] = long_list
airports_df.dropna(inplace=True)
# airports.head()

In [3]:
# Check if each airport is international
file = os.path.join('airports_intl_2016.csv')
intl_df = pd.read_csv(file)
# intl_df.head()

intl = intl_df['Code (IATA/ICAO)']
intl_bool = []

for index, row in airports_df.iterrows():
    iata = row['Code (IATA/ICAO)']
    if iata in intl.unique():
        intl_bool.append("International")
    else:
        intl_bool.append("Domestic")

airports_df['Type'] = intl_bool
airports_df.head()

,Rank,Airport,Location,Code (IATA/ICAO),Total passengers,% change
0,1.0,Dubai International Airport,DUBAI,DXB,77 453 466,10.7
1,2.0,Heathrow Airport,LONDON,LHR,69 816 491,2.5
2,3.0,Hong Kong International Airport,HONG KONG,HKG,68 139 897,8.3
3,4.0,AÃ©roport de Paris-Charles de Gaulle,PARIS,CDG,60 369 798,3.0
4,5.0,Amsterdam Airport,AMSTERDAM,AMS,58 245 545,6.0

In [14]:
file = os.path.join('airports.csv')
airports_df.to_csv(file, index=False, header=True)