## Cleaning the Data

In [20]:
import pandas as pd
import numpy as np
import os

# Regions
file = os.path.join('demographics', 'regions.csv')
regions_df = pd.read_csv(file)

#### Training Data

In [2]:
# NOTE: Error in JHCSSE data, dropped
# Both clinically diagnosed and lab-confirmed cases
# Source: https://www.kaggle.com/c/covid19-global-forecasting-week-2
# train_data = os.path.join('cases', 'jhcsse','train.csv')
# train_df = pd.read_csv(train_data)
# train_df = train_df[['Province_State','Country_Region','Date','ConfirmedCases','Fatalities']]
# train_df['Province_State'] = train_df['Province_State'].fillna('')
# train_df['Country_Region'].replace('US', 'United States', inplace=True)
# train_df.head()

# confirmed_df = train_df.pivot_table(index=['Country_Region','Province_State'], columns='Date', values='ConfirmedCases')

#### Confirmed Cases

In [3]:
# All Countries
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
confirmed_df = confirmed_df.drop(['Lat','Long','Province/State'], axis=1)
confirmed_df.rename(columns={'Country/Region': 'Country_Region'}, inplace = True)
confirmed_df = confirmed_df.groupby('Country_Region').sum()
confirmed_df.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
Country_Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,174,237,273,281,299,349,367,423,444,484
Albania,0,0,0,0,0,0,0,0,0,0,...,243,259,277,304,333,361,377,383,400,409
Algeria,0,0,0,0,0,0,0,0,0,0,...,716,847,986,1171,1251,1320,1423,1468,1572,1666
Andorra,0,0,0,0,0,0,0,0,0,0,...,376,390,428,439,466,501,525,545,564,583
Angola,0,0,0,0,0,0,0,0,0,0,...,7,8,8,8,10,14,16,17,19,19

In [6]:
# By Region
confirmed_df2 = pd.merge(regions_df, confirmed_df, on=['Country_Region'], how='right')
confirmed_df2 = confirmed_df2.drop_duplicates().sort_values(by='Country_Region')
confirmed_r_df = confirmed_df2.groupby('Region').sum()
confirmed_r_df

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
Region,,,,,,,,,,,,,,,,,,,,,
East Asia & Pacific,552,651,932,1423,2101,2906,5549,6131,8197,9870,...,98733,100124,101669,103129,104489,105509,107152,108280,109625,111235
Europe & Central Asia,0,0,2,3,3,4,8,10,10,16,...,460935,499202,536409,575712,632890,666382,696998,736019,773345,809807
Latin America & Caribbean,0,0,0,0,0,0,0,0,0,0,...,18587,21338,24151,26652,29488,32051,34675,38186,43993,49177
Middle East & North Africa,0,0,0,0,0,0,0,4,4,4,...,12907,14331,16053,17698,19246,21078,22833,24346,25631,27503
North America,0,0,0,0,1,1,2,2,2,4,...,8527,9560,11284,12437,12978,15756,16563,17872,19141,20654
South Asia,0,0,0,1,1,2,2,2,3,3,...,3730,4581,5474,5784,6468,7391,9245,10151,11063,12251
Sub-Saharan Africa,0,0,0,0,0,0,0,0,0,0,...,3183,3502,3807,4251,4551,4930,5219,5568,6016,6464

In [8]:
# Top Ten Countries
n = 8
last_day = confirmed_df.columns[-1]
top_confirmed_df = confirmed_df.nlargest(n, last_day)
top_confirmed_df.index

Index(['US', 'Spain', 'Italy', 'France', 'Germany', 'China', 'Iran',
       'United Kingdom', 'Turkey', 'Belgium'],
      dtype='object', name='Country_Region')

#### Fatalities

In [9]:
# All Countries
# fatalities_df = train_df.pivot_table(index=['Country_Region','Province_State'], columns='Date', values='Fatalities')
fatalities_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
fatalities_df = fatalities_df.drop(['Lat','Long','Province/State'], axis=1)
fatalities_df.rename(columns={'Country/Region': 'Country_Region'}, inplace = True)
fatalities_df = fatalities_df.groupby('Country_Region').sum()
# fatalities_df.head()

In [10]:
# By Region
fatalities_df2 = pd.merge(regions_df, fatalities_df, on=['Country_Region'], how='right')
fatalities_df2 = fatalities_df2.drop_duplicates().sort_values(by='Country_Region')
fatalities_r_df = fatalities_df2.groupby('Region').sum()
# fatalities_r_df

In [11]:
# Top Ten Countries
n = 8
last_day = fatalities_df.columns[-1]
top_fatalities_df = fatalities_df.nlargest(n, last_day)
top_fatalities_df.index

Index(['Italy', 'US', 'Spain', 'France', 'United Kingdom', 'Iran', 'China',
       'Germany', 'Belgium', 'Netherlands'],
      dtype='object', name='Country_Region')

#### Recovered

In [12]:
# All Countries
recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
recovered_df = recovered_df.drop(['Lat','Long','Province/State'], axis=1)
recovered_df.rename(columns={'Country/Region': 'Country_Region'}, inplace = True)
recovered_df = recovered_df.groupby('Country_Region').sum()
# recovered_df.head()

In [13]:
# Top Ten Countries
top_recovered_df = recovered_df.loc[recovered_df.index.isin(top_confirmed_df.index)]
# top_recovered_df.head()

In [14]:
# By Region
recovered_df2 = pd.merge(regions_df, recovered_df, on=['Country_Region'], how='right')
recovered_df2 = recovered_df2.drop_duplicates().sort_values(by='Country_Region')
recovered_r_df = recovered_df2.groupby('Region').sum()
# recovered_r_df

#### Infected = Confirmed - Recovered

In [15]:
# All Countries
infected_df = confirmed_df-recovered_df
# infected_df

# Top Ten Countries
top_infected_df = infected_df.loc[infected_df.index.isin(top_confirmed_df.index)]
# top_infected_df

# By Region
infected_df2 = pd.merge(regions_df, infected_df, on=['Country_Region'], how='right')
infected_df2 = infected_df2.drop_duplicates().sort_values(by='Country_Region')
infected_r_df = infected_df2.groupby('Region').sum()
# infected_r_df

## Reorganizing Data to First Day of Confirmed Case

In [18]:
# First Day Values
def first_day(df, country):
    row = list(df.loc[df.index == country].values[0])
    col = next((i for i, j in enumerate(row) if j.any()), None)     
    first_day = df.columns[col]
    return first_day

# Example:
# print(first_day(top_confirmed_df, "Italy"))
# print(first_day(top_fatalities_df, "Italy"))

In [17]:
# New dataframes with all non-zero values at beginning
def first_day_df(df):
    dates = df.columns.tolist()
    days = range(len(dates))
    
    new_df = pd.DataFrame(columns=days)

    countries = df.index              # list of countries
    for country in countries:
        # Grab the country's row
        row = list(df.loc[df.index == country].values[0])
        # Grab the column index of first non-zero value
        col = next((i for i, j in enumerate(row) if j.any()), None)     
        # Calculate date
        first_day = df.columns[col]
        # Reset first day
        row = row[col:] + row[:col]
        # New rearranged dataframe
        new_df = new_df.append([row])

    # Same countries indexed
    new_df.index = df.index
    new_df = new_df.replace(0,np.NaN)
    
    return new_df

In [22]:
# Confirmed Cases Since First Day
first_confirmed_df = first_day_df(top_confirmed_df)

# Fatalities Since First Day
first_fatalities_df = first_day_df(top_fatalities_df)

# Infected Since First Day (Less Recovered)
first_infected_df = first_day_df(top_infected_df)

In [ ]:
first_recovered_df = first_day_df(recovered_df)

top_recovered_df = first_recovered_df.loc[first_recovered_df.index.isin(top_confirmed_df.index)]
top_recovered_df

# test = top_recovered_df[1].values[0] - top_recovered_df[0].values[0]
# test = top_recovered_df.iloc[0,1] - top_recovered_df.iloc[0,0]
# print(test)